body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
body p{
    text-align: justify;
}
h1{
  font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
section{
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width p{
    text-align: justify;
}
.half-width img{
    width: 75%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
}
.top-banner{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.exprience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 223px;
}
.flexible-container{
    display: flex;
}
.exprience-item{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 7px;
}
#learn-level{
    border-left: 5px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#exp-level{
    border-left: 5px solid;
    border-image: linear-gradient(tomato,orange);
    border-image-slice: 1;
}
footer{
    background-color: palegoldenrod;
    padding: 5px 0;
}
footer p{
    text-align: center;
}